.enableFlex {
    display: flex;
}

.containerbox {
    height: 100px;
}

.box1 {
    background-color: 	#f6d8ac;
    text-align: center;
}

.box2 {
    background-color: #db9833	;
    text-align: center;
}

.box3 {
    background-color: #2a6592;
    text-align: center;
    color: white;
}

.lisaYan {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.lisaYanQuote {
    display: flex;
    justify-content: space-between;
}